.projectItem-container {
  text-align: left
}

.ProjectItem-header {
  font-size: 1.2rem;
  font-weight: bold;
}

.ProjectItem-media {
  height: 150px;
  background-size: "contain";
}

.projectImg {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.areaPicto {
	width: auto;
	height: 20px;
}

.projectKeyWords, .PI-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.projectKeyWords > li, .PI-list > li {
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom: 10px;
}

.PI-list>li {
  margin-left: 5px;
}

.projectVideos {
  display: flex;
  flex-direction: row;
}

.listVideo {
  padding: 0 0 0 7px;
}