.App {
  background-color: #f2f2f2;
  color: #546e7a;
}
.logoProject{
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background-color: #C5E1A5;
  display: inline-block;
  position: relative;
  top:10px;
  margin-right: 20px;
}

.headerContent {
  margin-left: 33%;
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
}

.headerContentText {
  align-content: center;
  display: inline-block;  
  padding-bottom: 20px;
}

.App-header {
  display: block;
  background-color: #FEFEFE;
  padding: 30px 20px 10px 20px;
  border-bottom: 3px solid #C5E1A5;
}

.App-footer { 
  background-color: #FEFEFE;
  padding: 20px;
  border-top: 2px solid #C5E1A5;  
  margin-left: auto;  
  margin-right: auto;  
  text-align: center;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.laureat, .partenaires { 
  display: inline-block;
  vertical-align: text-top; 
  margin-right: 40px;
  margin-left: 40px;  
  text-align: left;
}

.laureat>img, .partenaires>img {
  width: 150px;
  line-height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.laureat>img {
  margin-top: 25px;
}
