.SearchByKeywordContainer {
    margin-top: 15px;
}

.partForm {
    margin-top: 15px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    
}
.Select.Select--multi {
    line-height: calc(1em + 14px);
    width: 100%;
}

.Select-control {
    border: none;
    background: transparent;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
    padding-left: 0;
    color: #7cb342;
    background-color: transparent;
}

.SearchByKeyword {
    padding-top: 0.5rem;
    width: 100%;
}

.Select.is-open > .Select-control {
    background-color: transparent;
    border-color: none;
    border-radius: 0px;
}

.Select.is-focused > .Select-control {
    background:#E0E0E0;
}

.Select.is-focused:not(.is-open) > .Select-control {
    background-color: transparent;
    border-color: none;
    border-radius: 0px;
}

.Select-input {
    background-color: transparent;
    vertical-align: middle;
}

.Select-menu-outer{
    border: none;
    border-top-color: none;
    background-color: #EEEEEE;
    box-shadow: none;
    z-index: 1000;
  }
  .Select-menu {
    margin-top:0px;
    max-height: 198px;
    overflow-y: auto;
  }

  .Select-option {
      color: #212121;  
  }

  .Select-option:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .Select-option.is-focused {
    background-color: transparent;
    /* Fallback color for IE 8 */
    /* background-color: #E0E0E0; */
    color: #212121;
  }

  .Select--multi .Select-value {
    background-color: #E0E0E0;
    border-radius: 22px;
    color: #212121;
    border: none;
    min-width: max-content;
    padding: 3px;
    vertical-align: middle;
    margin-bottom: 3px;
}

.Select--multi .Select-value-icon {
    box-sizing: border-box;
    color: #E0E0E0;
    background-color: #F5F5F5;
    width: 27px;
    height: 27px;
    border-radius: 22px;
    padding: 0px 0px 0px 0px;   
    border-right: none;
    margin: 1px;
    font-size: 30px; 
    line-height: 28px;
    text-align: center;
}

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #9E9E9E;
  /* Fallback color for IE 8 */
  background-color: #9E9E9E;
  color: #E0E0E0;
}

.Select-clear-zone {
    color: #9E9E9E;
}

.Select-clear-zone:hover {
    color: #7CB342;
}
